* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
    line-height: 1.6;
}

header {
    background: #000000;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-content-left {
    display: flex;
    align-items: center;
}

.header-content-right {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}

.header-logo-1 {
    height: 60px;
    width: auto;
}

.header-logos {
    height: 60px;
    width: auto;
}

.parent {
    position: relative;
    display: inline-block;
}

.child {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.parent:hover .child {
    opacity: 1;
    top: 80%;
}

nav {
    margin-top: 1rem;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    font-size: 36px;
}

h2 {
	color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    padding: 2rem;
}

.center-text {
	text-align: center;
	margin: 2rem auto 0;
	width: 60%;
}

.text-section {
    flex: 1;
    color: white;
    padding: 20px;
    margin-right: 2rem;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack images vertically */
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Space between images */
}

.image-section img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    text-align: center; /* Center the caption */
}

figcaption {
    color: white;
    font-size: 0.9rem;
}

.bullet-points {
    list-style-type: disc; /* Bullets */
    padding-left: 20px; /* Indentation */
    margin-top: 1rem; /* Space between text and bullets */
}

.header-line {
    border-top: 1px solid white; /* Adjust thickness as needed */
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    height: calc(100vh - 160px);
}

.pdf-container {
    overflow: auto;
    width: 80%;
    position: center;
}

.pdf-viewer {
    width: 100%;
    height: calc(100vh - 170px);
    position: center;
}

.code-block{
	background-color: #333333;
	color: #ffffff;
	padding: 10px;
	border-radius: 12px;
	border: none;
	font-family: "Courier New", Courier, monospace;
	overflow-x: auto;
	display: inline-block;
	margin: 0;
	height: auto;
	width: 80%;
	text-align: left;
}


.line {
    display: flex;
    align-items: center;
}

.line-number {
    width: auto;
    background-color: #444;
    padding: 0 5px;
    color: #ccc;
}

.code-block code {
	white-space: pre-wrap;
}
pre {
	margin: 0;
	padding: 0;
}

code {
	display: inline;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:active {
	color: white;
}


button {
    background-color: #333333;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 7px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

button:active {
    background-color: #777777;
}

button:hover {
    background-color: #555555;
}

.copyMessage {
    display: none;
    color: white;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    white-space: nowrap;
}

.copy-container {
	position: relative;
	display: inline-block;
}

p {
	text-align: left;
}

.center-align {
	text-align: center;
}
